<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
                           
    <!-- Define your beans and context configuration here -->
    <bean  class="com.library.repository.BookRepository" name="bookRepository"/>

    <!-- Define the BookService bean and inject the BookRepository -->
    <bean  class="com.library.service.BookService" name="bookService">
   		<property name="bookRepository" ref="bookRepository"/>
   	</bean>

</beans>
